body {
    margin: 0;
    padding: 0;
    background-color: #0b1d3a;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    background-color: #ffffff10;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    text-align: center;
    backdrop-filter: blur(10px);
    width: 100%;

}

.login {
    text-align: center;
    max-width: 350px;
    width: 100%;
    padding: 40px;
    border-radius: 12px;
    margin: 100px auto auto;
}

.container h2 {
    color: #ffffff;
    margin-bottom: 30px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

input:focus, textarea:focus {
    outline: 2px solid #1e90ff;
    background-color: #ffffff20;
    color: #fff;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #1e90ff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #0066cc;
}

p, label {
    color: #ffffffcc;
    font-size: 14px;
    margin-top: 15px;
}

a {
    color: #1e90ff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

#mensagem {
    color: #ff4b4b;
    font-size: 14px;
    margin-top: 10px;
}

/* Projetos e edição de projetos */
.projetos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
}

.form-container, .display-container {
    width: 45%;
    background-color: #ffffff10;
    padding: 30px;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.projeto-item {
    background-color: #ffffff20;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s;
}

.projeto-item:hover {
    background-color: #ffffff30;
}

.projeto-item h3 {
    margin: 0 0 8px 0;
    color: #1e90ff;
}

.projeto-item p {
    margin: 0;
    font-size: 14px;
    color: #ddd;
}

.voltar {
    margin-top: 20px;
    display: inline-block;
    color: #1e90ff;
    text-decoration: none;
}

.voltar:hover {
    text-decoration: underline;
}
